@media screen and (max-width: 550px) {
  body #vNavTabs {
    top: 1rem !important;
  }
  body #tabPanes #home #content #profile {
    font-size: 1rem !important;
  }
  body #tabPanes #home #pic {
    background: none !important;
  }
  body #tabPanes #about #aboutMeText {
    box-shadow: none !important;
    left: 0 !important;
  }
}
@media screen and (min-width: 550px) and (max-width: 576px) {
  body #vNavTabs {
    top: 1rem !important;
  }
  body #tabPanes #home #content #profile {
    font-size: 1rem !important;
  }
  body #tabPanes #home #pic {
    background: none !important;
  }
  body #tabPanes #about #aboutPic {
    transform: scale(4);
    top: 88rem;
    left: -1.3rem;
  }
  body #tabPanes #about #aboutMeText {
    box-shadow: none;
  }
  body #tabPanes #tabPanes #internships div .internship {
    width: 30rem !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  body #tabPanes #home #pic {
    background: none !important;
  }
  body #tabPanes #about #aboutMeText {
    box-shadow: none !important;
    left: 0 !important;
  }
  body #tabPanes #internships div .internship {
    width: 18rem !important;
  }
  body #tabPanes #internships div .internship .internshipDes section h3 {
    width: 8rem !important;
    font-size: 1rem !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body #tabPanes #about #aboutPic {
    top: 19rem !important;
    left: -3rem !important;
  }
  body #tabPanes #about #aboutMeText {
    left: -4rem !important;
  }
  body #tabPanes #internships div .internship {
    width: 22rem !important;
  }
  body #tabPanes #internships div .internship .internshipDes section h3 {
    width: 10rem !important;
    font-size: 1.2rem !important;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  body #tabPanes #about #aboutPic {
    top: 16rem !important;
    left: 0.7rem !important;
  }
  body #tabPanes #about #aboutMeText {
    left: 0 !important;
  }
  body #tabPanes #internships div .internship {
    width: 26rem !important;
  }
  body #tabPanes #internships div .internship .internshipDes section h3 {
    width: 12rem !important;
  }
}
@media screen and (min-width: 1199px) and (max-width: 1399px) {
  body #tabPanes #about #aboutPic {
    top: 16rem !important;
    left: -0.3rem !important;
  }
  body #tabPanes #about #aboutMeText {
    left: 0 !important;
  }
}
body {
  background-color: #1E0235;
}
body #navbar #logo {
  transform: rotate3d(7, -6, 0, 45deg);
  font-weight: bolder;
  color: #D5BB73;
}
body #navbar #hNavTabs .nav-tabs .nav-item .nav-link {
  color: #D5BB73;
}
body #navbar #hNavTabs .nav-tabs .nav-item .active {
  color: #1E0235 !important;
  background-color: #D5BB73;
}
body #navbar #hNavTabs .nav-tabs .nav-item .unactive {
  background-color: none;
  color: #D5BB73;
}
body #navbar #bars {
  color: #D5BB73;
}
body #vNavTabs {
  position: absolute;
  right: 0rem;
  top: 3rem;
}
body #vNavTabs .nav-tabs .nav-item .nav-link {
  color: #D5BB73;
}
body #vNavTabs .nav-tabs .nav-item .active {
  color: #1E0235 !important;
  background-color: #D5BB73;
}
body #vNavTabs .nav-tabs .nav-item .unactive {
  background-color: none;
  color: #D5BB73;
}
body #vNavTabs div .navbar-toggler {
  border-color: white !important;
  background-color: #D5BB73 !important;
}
body #vNavTabs div .navbar-collapse {
  background-color: rgba(245, 245, 245, 0.6509803922);
  color: black;
  font-weight: 700;
  text-align: right;
  width: 4rem;
}
body #tabPanes #home #content h1 {
  color: #D5BB73;
}
body #tabPanes #home #content #profile {
  color: whitesmoke;
}
body #tabPanes #home #content #cv {
  background-color: #1E0235;
  color: #D5BB73;
  border: 2px solid #D5BB73;
}
body #tabPanes #home #content #cv:hover {
  color: #eee6e6;
  border-color: #eee6e6;
}
body #tabPanes #home #content #cv:hover {
  cursor: pointer;
}
body #tabPanes #home #content #socialAccounts a {
  background-color: #D5BB73;
  color: #1E0235;
  border-radius: 50%;
  text-decoration: none !important;
}
body #tabPanes #home #content #socialAccounts a:hover {
  background-color: #eee6e6;
}
body #tabPanes #home #pic {
  background: linear-gradient(-10deg, #3C0E57, #1E0235, #1E0235, #1E0235, #1E0235, #1E0235);
}
body #tabPanes #about div#aboutPic {
  transform: scale(1.7);
  position: relative;
  top: 10rem;
  left: -1rem;
  z-index: 0;
}
body #tabPanes #about #aboutMeText {
  box-shadow: 10px 8px 12px black, -2px -6px 7px black;
  position: relative;
  left: -2rem;
  color: whitesmoke;
  text-align: justify;
}
body #tabPanes #about #aboutMeText h1 {
  color: #D5BB73;
}
body #tabPanes #works h1 {
  color: aliceblue;
}
body #tabPanes #works #allWorks .work {
  transition: transform 0.7s;
}
body #tabPanes #works #allWorks .work .workDes {
  background-color: #381E4B;
  color: aliceblue;
}
body #tabPanes #works #allWorks .work .workDes button {
  color: #1E0235;
  background-color: #F5C93E;
  box-shadow: 1px 1px 3px #1E0235;
}
body #tabPanes #works #allWorks .work:hover {
  transform: scale(1.1);
}
body #tabPanes #internships h1 {
  color: aliceblue;
}
body #tabPanes #internships div .internship {
  transition: transform 0.5s ease;
  background-color: #270B3E;
  width: 28rem;
}
body #tabPanes #internships div .internship img {
  opacity: 0.95;
}
body #tabPanes #internships div .internship img:hover {
  opacity: 1;
}
body #tabPanes #internships div .internship .internshipDes section h3 {
  color: #dac894;
  width: 13rem;
}
body #tabPanes #internships div .internship .internshipDes section h3 i {
  color: rgba(255, 255, 255, 0.7215686275);
}
body #tabPanes #internships div .internship .internshipDes section p {
  color: #b9a0ce;
}
body #tabPanes #internships div .internship:hover {
  transform: scale(1.1);
}
body #tabPanes #skills h1 {
  color: aliceblue;
}
body footer {
  background-color: #270B3E;
}
body footer #footerLogo {
  transform: rotate3d(7, -6, 0, 45deg);
  font-weight: bolder;
  color: #D5BB73;
}
body footer #footerHNavTabs ul li a {
  color: white;
}
body footer #footerHNavTabs ul li a:hover {
  color: #D5BB73;
}
body footer #socialAccounts a {
  background-color: white;
  color: #1E0235;
  border-radius: 50%;
  text-decoration: none !important;
}
body footer #socialAccounts a:hover {
  background-color: #D5BB73;
}/*# sourceMappingURL=index.css.map */